In [3]:
from typing import List
from typing import Optional
import pandas as pd
import numpy as np

## 2416. Sum of Prefix Scores of Strings

You are given an array `words` of size `n` consisting of non-empty strings.

We define the score of a string `term` as the number of strings `words[i]` such that `term` is a prefix of `words[i]`.

* For example, if `words = ["a", "ab", "abc", "cab"]`, then the score of `"ab"` is `2`, since `"ab"` is a prefix of both `"ab"` and `"abc"`.

Return an array answer of size `n` where `answer[i]` is the sum of scores of every non-empty prefix of `words[i]`.

Note that a string is considered as a prefix of itself.

In [28]:
# Time limit exceeded (but functional)

class Solution(object):
    def sumPrefixScores(self, words):
        """
        :type words: List[str]
        :rtype: List[int]
        """

        scores = [''] * len(words)
        for i in range(0,len(words)):
            # For each word i, make a list of prefixes
            prefixes = [] # optional
            score = 0

            for j in range(0,len(words[i])):
                prefix = words[i][0:j+1]
                prefixes.append(prefix)

                # Compare for each word in words
                for k in range(0,len(words)):
                    # len of prefix is j+1
                    if prefix == words[k][0:j+1]:
                        score += 1

            scores[i] = score

        return scores

In [29]:
sol = Solution()
sol.sumPrefixScores(["abc","ab","bc","b"])

[5, 4, 3, 2]

In [30]:
sol = Solution()
sol.sumPrefixScores(["abcd"])

[4]

## 175. Combine Two Tables

Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

In [42]:
data = [[1, 'Wang', 'Allen'], [2, 'Alice', 'Bob']]
person = pd.DataFrame(data, columns=['personId', 'lastName', 'firstName']).astype({'personId':'Int64', 'firstName':'object', 'lastName':'object'})
data = [[1, 2, 'New York City', 'New York'], [2, 3, 'Leetcode', 'California']]
address = pd.DataFrame(data, columns=['addressId', 'personId', 'city', 'state']).astype({'addressId':'Int64', 'personId':'Int64', 'city':'object', 'state':'object'})

In [43]:
def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
    data = pd.merge(person, address, how='left', on='personId')
    return data[['firstName','lastName','city','state']]

In [44]:
combine_two_tables(person,address)

  firstName lastName           city     state
0     Allen     Wang            NaN       NaN
1       Bob    Alice  New York City  New York

## 176. Second Highest Salary

Write a solution to find the second highest distinct salary from the `Employee` table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

In [172]:
# data = [[1, 100], [2, 200], [3, 300]]
data = [[1, 100], [2, 200]]
# data = [[1, 100]]

employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [175]:
# Beats 19.22%

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    df = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)

    if len(df) > 1:
        return pd.DataFrame([{'SecondHighestSalary':df[1]}])
    else:
        return pd.DataFrame([{'SecondHighestSalary':None}])

In [108]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    
    df = employee.drop_duplicates(['salary'])

    if len(df) == 1:
        return pd.DataFrame([{'SecondHighestSalary':None}])

    df = (df.sort_values(['salary'])
            .tail(2).head(1)
            .rename(columns = {'salary':'SecondHighestSalary'}))

    return df[['SecondHighestSalary']]

In [174]:
second_highest_salary(employee)

   SecondHighestSalary
0                  100

## 177. Nth Highest Salary

Write a solution to find the `nth` highest salary from the `Employee` table. If there is no `nth` highest salary, return `null`.

The result format is in the following example.

In [226]:
data = [[1, 100], [2, 200], [3, 300]]
data = [[1, 100], [2, 100]]
# data = [[1, 100]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'Int64', 'salary':'Int64'})

In [230]:
# Beats 12.47%
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    df = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)

    if 1 <= N <= len(df):
        val = df[N-1]
        return pd.DataFrame([{f'getNthHighestSalary({N})':val}])

    else:
        return pd.DataFrame([{f'getNthHighestSalary({N})':None}])

In [234]:
nth_highest_salary(employee, -1)

  getNthHighestSalary(-1)
0                    None

## 178. Rank Scores

Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

* The scores should be ranked from the highest to the lowest.

* If there is a tie between two scores, both should have the same ranking.

* After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by `score` in descending order.

The result format is in the following example.

In [292]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
data = []
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [290]:
# Beats 74.28%
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    df = scores['score'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)
    df = pd.DataFrame(df)
    df['rank'] = [i for i in range(1,len(df)+1)]
    df = pd.merge(left=scores, right=df, how='left', on='score')
    return df.drop(columns=['id']).sort_values('rank', ascending=True)

In [293]:
order_scores(scores)

Empty DataFrame
Columns: [score, rank]
Index: []

## 180. Consecutive Numbers

Find all numbers that appear at least three times consecutively.

Return the result table in any order.

The result format is in the following example.

In [324]:
data = [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]
data = [[1, 2], [2, 3], [3, 3], [4, 3]]
logs = pd.DataFrame(data, columns=['id', 'num']).astype({'id':'Int64', 'num':'Int64'})

In [327]:
# Beats 46.86%
def consecutive_numbers(logs: pd.DataFrame) -> pd.DataFrame:
    consecutive_nums = set()

    for i in range(2,logs.shape[0]):
        if logs['num'][i]==logs['num'][i-1]==logs['num'][i-2]:
            consecutive_nums.add(logs['num'][i])

    return pd.DataFrame(consecutive_nums, columns=['ConsecutiveNums'])

In [328]:
consecutive_numbers(logs)

   ConsecutiveNums
0                3

In [307]:
[logs['num'][i] if logs['num'][i]==logs['num'][i-1]==logs['num'][i-2] else None for i in range(2,len(logs['num']))]

[np.int64(1), None, None, None, None]

## 181. Employees Earning More Than Their Managers

Write a solution to find the employees who earn more than their managers.

Return the result table in any order.

The result format is in the following example.

`id` is the primary key (column with unique values) for this table.

Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.

In [352]:
data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
# data = [[1, 'Joe', 70000, 3]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'managerId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

In [356]:
# Beats 68.49%
def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    manager = employee.copy()
    manager = manager[['id','salary']]
    manager.columns = ['managerId','manager_salary']
    df = pd.merge(employee, manager, on='managerId', how='left')
    df = df.loc[ df['salary'] > df['manager_salary'], ['name']]
    df.columns = ['Employee']
    return df

In [357]:
find_employees(employee)

  Employee
0      Joe

## 2530. Maximal Score After Applying K Operations

You are given a 0-indexed integer array `nums` and an integer `k`. You have a starting score of `0`.

In one operation:

* choose an index `i` such that` 0 <= i < nums.length`,

* increase your score by `nums[i]`, and

* replace `nums[i]` with `ceil(nums[i] / 3)`.

* Return the maximum possible score you can attain after applying exactly `k` operations.

The ceiling function `ceil(val)` is the least integer greater than or equal to `val`.

In [45]:
# Time limit exceeded (must use heap to solve in time)

class Solution(object):
    def maxKelements(self, nums, k):
        """
        :type nums: List[int]
        :type k: int
        :rtype: int
        """
        score = 0

        for _ in range(0,k):
            i = np.argmax(nums)

            score += nums[i]
            # nums[i] = int(np.ceil(nums[i]/3)) # np.ceil can produce floating point errors
            nums[i] = -(nums[i]// -3)

        return score

In [39]:
nums = [10, 10, 10, 10, 10]
k = 5

In [46]:
nums = [1, 10, 3, 3, 3]
k = 3

In [29]:
nums = [1]
k = 1

In [47]:
sol = Solution()
sol.maxKelements(nums, k)

17

## 182. Duplicate Emails

Table: Person

```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
```

`id` is the primary key (column with unique values) for this table.

Each row of this table contains an email. The emails will not contain uppercase letters.
 
Write a solution to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

Return the result table in any order.

The result format is in the following example.

In [93]:
data = [[1, 'a@b.com'], [2, 'c@d.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

In [99]:
# Beats 60.08%

def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    df = person.groupby('email').size().reset_index()
    df.columns=['email','count']
    return df.loc[ df['count'] != 1, :][['email']]

In [100]:
duplicate_emails(person)

     email
0  a@b.com

## 183. Customers Who Never Order

Table: Customers

```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
 ```

Table: Orders

```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| customerId  | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
```

Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.

In [178]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [182]:
# Beats 14.74%

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers.rename(columns={'id':'customerId'}, inplace=True)
    df = pd.merge(left=customers, right=orders, how='left', on='customerId')
    df = df.loc[ pd.isna(df['id']), :][['name']]
    df.columns = ['Customers']
    return df

In [180]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df = customers[ ~customers['id'].isin(orders['customerId']) ]
    return df[['name']].rename(columns={'name': 'Customers'})

In [183]:
find_customers(customers,orders)

  Customers
1     Henry
3       Max