In [3]:
from typing import List
from typing import Optional
import pandas as pd
import numpy as np

## 2416. Sum of Prefix Scores of Strings

You are given an array `words` of size `n` consisting of non-empty strings.

We define the score of a string `term` as the number of strings `words[i]` such that `term` is a prefix of `words[i]`.

* For example, if `words = ["a", "ab", "abc", "cab"]`, then the score of `"ab"` is `2`, since `"ab"` is a prefix of both `"ab"` and `"abc"`.

Return an array answer of size `n` where `answer[i]` is the sum of scores of every non-empty prefix of `words[i]`.

Note that a string is considered as a prefix of itself.

In [28]:
# Time limit exceeded (but functional)

class Solution(object):
    def sumPrefixScores(self, words):
        """
        :type words: List[str]
        :rtype: List[int]
        """

        scores = [''] * len(words)
        for i in range(0,len(words)):
            # For each word i, make a list of prefixes
            prefixes = [] # optional
            score = 0

            for j in range(0,len(words[i])):
                prefix = words[i][0:j+1]
                prefixes.append(prefix)

                # Compare for each word in words
                for k in range(0,len(words)):
                    # len of prefix is j+1
                    if prefix == words[k][0:j+1]:
                        score += 1

            scores[i] = score

        return scores

In [29]:
sol = Solution()
sol.sumPrefixScores(["abc","ab","bc","b"])

[5, 4, 3, 2]

In [30]:
sol = Solution()
sol.sumPrefixScores(["abcd"])

[4]

## 175. Combine Two Tables [E]

Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

In [42]:
data = [[1, 'Wang', 'Allen'], [2, 'Alice', 'Bob']]
person = pd.DataFrame(data, columns=['personId', 'lastName', 'firstName']).astype({'personId':'Int64', 'firstName':'object', 'lastName':'object'})
data = [[1, 2, 'New York City', 'New York'], [2, 3, 'Leetcode', 'California']]
address = pd.DataFrame(data, columns=['addressId', 'personId', 'city', 'state']).astype({'addressId':'Int64', 'personId':'Int64', 'city':'object', 'state':'object'})

In [43]:
def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
    data = pd.merge(person, address, how='left', on='personId')
    return data[['firstName','lastName','city','state']]

In [44]:
combine_two_tables(person,address)

  firstName lastName           city     state
0     Allen     Wang            NaN       NaN
1       Bob    Alice  New York City  New York

## 176. Second Highest Salary [M]

Write a solution to find the second highest distinct salary from the `Employee` table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

In [172]:
# data = [[1, 100], [2, 200], [3, 300]]
data = [[1, 100], [2, 200]]
# data = [[1, 100]]

employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [175]:
# Beats 19.22%

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    df = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)

    if len(df) > 1:
        return pd.DataFrame([{'SecondHighestSalary':df[1]}])
    else:
        return pd.DataFrame([{'SecondHighestSalary':None}])

In [108]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    
    df = employee.drop_duplicates(['salary'])

    if len(df) == 1:
        return pd.DataFrame([{'SecondHighestSalary':None}])

    df = (df.sort_values(['salary'])
            .tail(2).head(1)
            .rename(columns = {'salary':'SecondHighestSalary'}))

    return df[['SecondHighestSalary']]

In [174]:
second_highest_salary(employee)

   SecondHighestSalary
0                  100

## 177. Nth Highest Salary [M]

Write a solution to find the `nth` highest salary from the `Employee` table. If there is no `nth` highest salary, return `null`.

The result format is in the following example.

In [226]:
data = [[1, 100], [2, 200], [3, 300]]
data = [[1, 100], [2, 100]]
# data = [[1, 100]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'Int64', 'salary':'Int64'})

In [230]:
# Beats 12.47%
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    df = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)

    if 1 <= N <= len(df):
        val = df[N-1]
        return pd.DataFrame([{f'getNthHighestSalary({N})':val}])

    else:
        return pd.DataFrame([{f'getNthHighestSalary({N})':None}])

In [234]:
nth_highest_salary(employee, -1)

  getNthHighestSalary(-1)
0                    None

## 178. Rank Scores [M]

Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

* The scores should be ranked from the highest to the lowest.

* If there is a tie between two scores, both should have the same ranking.

* After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by `score` in descending order.

The result format is in the following example.

In [292]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
data = []
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [290]:
# Beats 74.28%
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    df = scores['score'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)
    df = pd.DataFrame(df)
    df['rank'] = [i for i in range(1,len(df)+1)]
    df = pd.merge(left=scores, right=df, how='left', on='score')
    return df.drop(columns=['id']).sort_values('rank', ascending=True)

In [293]:
order_scores(scores)

Empty DataFrame
Columns: [score, rank]
Index: []

## 180. Consecutive Numbers [M]

Find all numbers that appear at least three times consecutively.

Return the result table in any order.

The result format is in the following example.

In [324]:
data = [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]
data = [[1, 2], [2, 3], [3, 3], [4, 3]]
logs = pd.DataFrame(data, columns=['id', 'num']).astype({'id':'Int64', 'num':'Int64'})

In [327]:
# Beats 46.86%
def consecutive_numbers(logs: pd.DataFrame) -> pd.DataFrame:
    consecutive_nums = set()

    for i in range(2,logs.shape[0]):
        if logs['num'][i]==logs['num'][i-1]==logs['num'][i-2]:
            consecutive_nums.add(logs['num'][i])

    return pd.DataFrame(consecutive_nums, columns=['ConsecutiveNums'])

In [328]:
consecutive_numbers(logs)

   ConsecutiveNums
0                3

In [307]:
[logs['num'][i] if logs['num'][i]==logs['num'][i-1]==logs['num'][i-2] else None for i in range(2,len(logs['num']))]

[np.int64(1), None, None, None, None]

## 181. Employees Earning More Than Their Managers [E]

Write a solution to find the employees who earn more than their managers.

Return the result table in any order.

The result format is in the following example.

`id` is the primary key (column with unique values) for this table.

Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.

In [352]:
data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
# data = [[1, 'Joe', 70000, 3]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'managerId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

In [356]:
# Beats 68.49%
def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    manager = employee.copy()
    manager = manager[['id','salary']]
    manager.columns = ['managerId','manager_salary']
    df = pd.merge(employee, manager, on='managerId', how='left')
    df = df.loc[ df['salary'] > df['manager_salary'], ['name']]
    df.columns = ['Employee']
    return df

In [357]:
find_employees(employee)

  Employee
0      Joe

## 2530. Maximal Score After Applying K Operations

You are given a 0-indexed integer array `nums` and an integer `k`. You have a starting score of `0`.

In one operation:

* choose an index `i` such that` 0 <= i < nums.length`,

* increase your score by `nums[i]`, and

* replace `nums[i]` with `ceil(nums[i] / 3)`.

* Return the maximum possible score you can attain after applying exactly `k` operations.

The ceiling function `ceil(val)` is the least integer greater than or equal to `val`.

In [45]:
# Time limit exceeded (must use heap to solve in time)

class Solution(object):
    def maxKelements(self, nums, k):
        """
        :type nums: List[int]
        :type k: int
        :rtype: int
        """
        score = 0

        for _ in range(0,k):
            i = np.argmax(nums)

            score += nums[i]
            # nums[i] = int(np.ceil(nums[i]/3)) # np.ceil can produce floating point errors
            nums[i] = -(nums[i]// -3)

        return score

In [39]:
nums = [10, 10, 10, 10, 10]
k = 5

In [46]:
nums = [1, 10, 3, 3, 3]
k = 3

In [29]:
nums = [1]
k = 1

In [47]:
sol = Solution()
sol.maxKelements(nums, k)

17

## 182. Duplicate Emails [E]

Table: Person

```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
```

`id` is the primary key (column with unique values) for this table.

Each row of this table contains an email. The emails will not contain uppercase letters.
 
Write a solution to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

Return the result table in any order.

The result format is in the following example.

In [93]:
data = [[1, 'a@b.com'], [2, 'c@d.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

In [99]:
# Beats 60.08%

def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    df = person.groupby('email').size().reset_index()
    df.columns=['email','count']
    return df.loc[ df['count'] != 1, :][['email']]

In [100]:
duplicate_emails(person)

     email
0  a@b.com

## 183. Customers Who Never Order [E]

Table: Customers

```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
 ```

Table: Orders

```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| customerId  | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
```

Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.

In [178]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [182]:
# Beats 14.74%

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers.rename(columns={'id':'customerId'}, inplace=True)
    df = pd.merge(left=customers, right=orders, how='left', on='customerId')
    df = df.loc[ pd.isna(df['id']), :][['name']]
    df.columns = ['Customers']
    return df

In [180]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df = customers[ ~customers['id'].isin(orders['customerId']) ]
    return df[['name']].rename(columns={'name': 'Customers'})

In [183]:
find_customers(customers,orders)

  Customers
1     Henry
3       Max

## 184. Department Highest Salary [M]

Table: Employee
```
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |
+--------------+---------+
id is the primary key (column with unique values) for this table.
departmentId is a foreign key (reference columns) of the ID from the Department table.
Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.
 ```

Table: Department
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table. It is guaranteed that department name is not NULL.
Each row of this table indicates the ID of a department and its name.
```

Write a solution to find employees who have the highest salary in each of the departments.

Return the result table in any order.

The result format is in the following example.

In [214]:
data = [[1, 'Joe', 70000, 1], [2, 'Jim', 90000, 1], [3, 'Henry', 80000, 2], [4, 'Sam', 60000, 2], [5, 'Max', 90000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

In [235]:
# Beats 53.68%

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    department.rename(columns={'id':'departmentId', 'name':'departmentName'}, inplace=True)
    df_merge = pd.merge(left=employee, right=department, how='left', on='departmentId')

    select = df_merge.groupby('departmentId')['salary'].max().reset_index()
    select['max'] = 1

    df_merge = pd.merge(df_merge, select, how='left', on=['departmentId','salary'])
    df_merge = df_merge.loc[ df_merge['max']== 1, ['departmentName','name','salary']]
    df_merge.columns = ['Department','Employee','Salary']
    return df_merge

In [236]:
department_highest_salary(employee, department)

  Department Employee  Salary
1         IT      Jim   90000
2      Sales    Henry   80000
4         IT      Max   90000

## 185. Department Top Three Salaries [H]

Table: Employee
```
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |
+--------------+---------+
id is the primary key (column with unique values) for this table.
departmentId is a foreign key (reference column) of the ID from the Department table.
Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.
```

Table: Department
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID of a department and its name.
```

A company's executives are interested in seeing who earns the most money in each of the company's departments. A high earner in a department is an employee who has a salary in the top three unique salaries for that department.

Write a solution to find the employees who are high earners in each of the departments.

Return the result table in any order.

The result format is in the following example.

In [287]:
# Beats 20.36%

def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    employee.columns = ['id','Employee','Salary','departmentId']
    department.columns = ['departmentId','Department']
    df_merge = pd.merge(employee, department, how='left', on='departmentId')
    select = df_merge.groupby('Department')['Salary'].apply(lambda x: x.drop_duplicates().nlargest(3)).reset_index()[['Department','Salary']]
    return pd.merge(df_merge, select, how='right', on=['Department','Salary'])[['Department','Employee','Salary']]

In [288]:
data = [[1, 'Joe', 85000, 1], [2, 'Henry', 80000, 2], [3, 'Sam', 60000, 2], [4, 'Max', 90000, 1], [5, 'Janet', 69000, 1], [6, 'Randy', 85000, 1], [7, 'Will', 70000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

In [289]:
top_three_salaries(employee, department)

  Department Employee  Salary
0         IT      Max   90000
1         IT      Joe   85000
2         IT    Randy   85000
3         IT     Will   70000
4      Sales    Henry   80000
5      Sales      Sam   60000

## 196. Delete Duplicate Emails [E]

Table: Person
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.
```

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.

For Pandas users, please note that you are supposed to modify `Person` in place.

After running your script, the answer shown is the `Person` table. The driver will first compile and run your piece of code and then show the `Person` table. The final order of the `Person` table does not matter.

The result format is in the following example.

In [319]:
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values('id', inplace=True)
    select = person.groupby('email').first().reset_index()
    person = person[ person['id'].isin(select['id']) ]
    return person

In [334]:
# In place modification
# Beats 39.53%
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values('id', inplace=True)
    select = person.groupby('email').first().reset_index()
    drop = person[ ~person['id'].isin(select['id']) ]
    person.drop(index=drop.index, inplace=True)

In [327]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [336]:
delete_duplicate_emails(person)

In [337]:
person

   id             email
0   1  john@example.com
1   2   bob@example.com

## 197. Rising Temperature (diff) [E]

Table: Weather
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
There are no different rows with the same recordDate.
This table contains information about the temperature on a certain day.
```

Write a solution to find all dates' `id` with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

The result format is in the following example.

In [472]:
# Beats 19.65%

def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    if weather.shape[0]>=2:
        weather['date'] = pd.to_datetime(weather['recordDate'])
        weather = weather.sort_values('date').reset_index(drop=True)
        # vector = [False] + [True if weather['temperature'][i] > weather['temperature'][i-1] else False for i in range(1,len(weather['temperature']))]
        # This line: make sure dates are consecutive, in addition to temperature rise
        vector = [False] + [True if (weather['temperature'][i] > weather['temperature'][i-1]) and (weather['date'][i]==weather['date'][i-1] + pd.Timedelta("1 day")) else False for i in range(1,len(weather['temperature']))]
        return weather.loc[vector, ['id']]
    else:
        df = pd.DataFrame(columns=['id']).astype({'id':'Int64'})
        return df

In [487]:
# Better with diff
def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    weather.sort_values(by='recordDate', inplace=True)
    return weather[
        (weather['temperature'].diff() > 0)
      & (weather['recordDate'].diff().dt.days == 1)
    ][['id']]

In [484]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [464]:
weather = pd.DataFrame(columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [458]:
data = [[1, '2000-12-16', 3], [2, '2000-12-15', -1]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [489]:
data = [[1, '2000-12-14', 3], [2, '2000-12-16', 5]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [490]:
rising_temperature(weather)

Empty DataFrame
Columns: [id]
Index: []

## 262. Trips and Users (between) [H]

Table: Trips
```
+-------------+----------+
| Column Name | Type     |
+-------------+----------+
| id          | int      |
| client_id   | int      |
| driver_id   | int      |
| city_id     | int      |
| status      | enum     |
| request_at  | varchar  |
+-------------+----------+
id is the primary key (column with unique values) for this table.
The table holds all taxi trips. Each trip has a unique id, while client_id and driver_id are foreign keys to the users_id at the Users table.
Status is an ENUM (category) type of ('completed', 'cancelled_by_driver', 'cancelled_by_client').
```

Table: Users
```
+-------------+----------+
| Column Name | Type     |
+-------------+----------+
| users_id    | int      |
| banned      | enum     |
| role        | enum     |
+-------------+----------+
users_id is the primary key (column with unique values) for this table.
The table holds all users. Each user has a unique users_id, and role is an ENUM type of ('client', 'driver', 'partner').
banned is an ENUM (category) type of ('Yes', 'No').
```

The cancellation rate is computed by dividing the number of canceled (by client or driver) requests with unbanned users by the total number of requests with unbanned users on that day.

Write a solution to find the cancellation rate of requests with unbanned users (both client and driver must not be banned) each day between "2013-10-01" and "2013-10-03". Round Cancellation Rate to two decimal points.

Return the result table in any order.

The result format is in the following example.

In [573]:
# Beats 54.91%

def trips_and_users(trips: pd.DataFrame, users: pd.DataFrame) -> pd.DataFrame:
    users_filtered = users[ (users['banned'] == 'No') & ( (users['role'] == 'client') | (users['role'] == 'driver') ) ]

    trips_merge = pd.merge(left=trips, right=users_filtered, how='inner', left_on='client_id', right_on='users_id') # eliminates banned and role=partner for client
    trips_merge.drop(['users_id','banned','role'], axis=1, inplace=True)

    trips_merge = pd.merge(left=trips_merge, right=users_filtered, how='inner', left_on='driver_id', right_on='users_id') # eliminates banned and role=partner for driver
    trips_merge.drop(['users_id','banned','role'], axis=1, inplace=True)

    trips_merge = trips_merge[ (trips_merge['request_at'] >= '2013-10-01') & (trips_merge['request_at'] <= '2013-10-03') ] # limit date range

    trips_merge['cancelled'] = 0
    trips_merge.loc[ (trips_merge['status']=='cancelled_by_client') | (trips_merge['status']=='cancelled_by_driver') , ['cancelled' ]] = 1

    result = trips_merge.groupby('request_at')['cancelled'].apply(lambda x: (x.sum()/x.count()).round(2)).reset_index()
    result.columns = ['Day','Cancellation Rate']
    return result

In [575]:
def trips_and_users_leetcode(trips: pd.DataFrame, users: pd.DataFrame) -> pd.DataFrame:

    users = users[users.banned == 'No']
    trips = trips[trips.request_at
                     .between('2013-10-01','2013-10-03')
                    ].rename(columns = {'request_at': 'Day'})

    trips['can'] = trips.status.str.startswith('can')

    trips = trips[(trips.client_id.isin(users.users_id)) &
                  (trips.driver_id.isin(users.users_id))
                  ].groupby('Day')['can'].agg(['sum','size']).reset_index()

    trips['Cancellation Rate'] = (trips['sum']/trips['size']).round(2)
    
    return trips[['Day','Cancellation Rate']]

In [571]:
data = [['1', '1', '10', '1', 'completed', '2013-10-01'], ['2', '2', '11', '1', 'cancelled_by_driver', '2013-10-01'], ['3', '3', '12', '6', 'completed', '2013-10-01'], ['4', '4', '13', '6', 'cancelled_by_client', '2013-10-01'], ['5', '1', '10', '1', 'completed', '2013-10-02'], ['6', '2', '11', '6', 'completed', '2013-10-02'], ['7', '3', '12', '6', 'completed', '2013-10-02'], ['8', '2', '12', '12', 'completed', '2013-10-03'], ['9', '3', '10', '12', 'completed', '2013-10-03'], ['10', '4', '13', '12', 'cancelled_by_driver', '2013-10-03']]
trips = pd.DataFrame(data, columns=['id', 'client_id', 'driver_id', 'city_id', 'status', 'request_at']).astype({'id':'Int64', 'client_id':'Int64', 'driver_id':'Int64', 'city_id':'Int64', 'status':'object', 'request_at':'object'})

data = [['1', 'No', 'client'], ['2', 'Yes', 'client'], ['3', 'No', 'client'], ['4', 'No', 'client'], ['10', 'No', 'driver'], ['11', 'No', 'driver'], ['12', 'No', 'driver'], ['13', 'No', 'driver']]
users = pd.DataFrame(data, columns=['users_id', 'banned', 'role']).astype({'users_id':'Int64', 'banned':'object', 'role':'object'})

In [562]:
trips = pd.DataFrame(columns=['id', 'client_id', 'driver_id', 'city_id', 'status', 'request_at']).astype({'id':'Int64', 'client_id':'Int64', 'driver_id':'Int64', 'city_id':'Int64', 'status':'object', 'request_at':'object'})

users = pd.DataFrame(columns=['users_id', 'banned', 'role']).astype({'users_id':'Int64', 'banned':'object', 'role':'object'})

In [574]:
trips_and_users(trips, users)

          Day  Cancellation Rate
0  2013-10-01               0.33
1  2013-10-02               0.00
2  2013-10-03               0.50

In [576]:
trips_and_users_leetcode(trips, users)

          Day  Cancellation Rate
0  2013-10-01               0.33
1  2013-10-02               0.00
2  2013-10-03               0.50

## 511. Game Play Analysis I

Table: Activity
```
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
```

Write a solution to find the first login date for each player.

Return the result table in any order.

The result format is in the following example.

In [602]:
# Beats 40.78%

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    df = activity.groupby(['player_id'])['event_date'].min().reset_index()
    df.columns = ['player_id','first_login']
    return df

In [598]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [595]:
activity = pd.DataFrame(columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [601]:
game_analysis(activity)

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02

### Example with `.apply()` and a custom function

In [592]:
def cust_fun(group):
    dates = pd.to_datetime(group['event_date'])
    return min(dates)

activity.groupby(['player_id']).apply(cust_fun)

/var/folders/04/x6phf57n2c7d0_05mhjff6cm0000gn/T/ipykernel_56217/4223406261.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  activity.groupby(['player_id']).apply(cust_fun)

player_id
1   2016-03-01
2   2017-06-25
3   2016-03-02
dtype: datetime64[ns]

## 550. Game Play Analysis IV

Table: Activity
```
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
```

Write a solution to report the fraction of players that logged in again on the day after the day they first logged in, rounded to 2 decimal places. In other words, you need to count the number of players that logged in for at least two consecutive days starting from their first login date, then divide that number by the total number of players.

The result format is in the following example.

In [691]:
# May have issues with players that login multiple times on day following first login?

def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    ptotal = activity['player_id'].nunique()

    second_login = activity.groupby('player_id')['event_date'].first().reset_index() # start with first login

    second_login['event_date'] = second_login['event_date'] + pd.Timedelta('1 day')

    activity_merged = pd.merge(left=activity, right=second_login, how='inner', on=['player_id','event_date'])

    p2nd = activity_merged['player_id'].nunique()

    if ptotal ==0:
        return pd.DataFrame(columns=['fraction'])
    else:
        return pd.DataFrame({round(p2nd/ptotal,2)}, columns=['fraction'])

In [ ]:
def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    ptotal = activity['player_id'].nunique()
    
    # Get the first login date for each player
    first_login = activity.groupby('player_id')['event_date'].min().reset_index()
    
    # Add one day to the first login date
    first_login['next_day'] = first_login['event_date'] + pd.Timedelta(days=1)
    
    # Check if the player logged in on the next day
    next_day_login = pd.merge(activity, first_login[['player_id', 'next_day']], 
                              left_on=['player_id', 'event_date'], 
                              right_on=['player_id', 'next_day'])
    
    # Count the number of players who logged in on the next day after their first login
    p2nd = next_day_login['player_id'].nunique()
    
    # Return the fraction
    if ptotal == 0:
        return pd.DataFrame({'fraction': []})
    else:
        return pd.DataFrame({'fraction': [round(p2nd / ptotal, 2)]})

In [ ]:
def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    # Step 1: Find the first login date for each player
    first_login = activity.groupby('player_id')['event_date'].min().reset_index()
    
    # Step 2: Create a new column for the day before each event_date in the original DataFrame
    activity['day_before_event'] = activity['event_date'] - pd.to_timedelta(1, unit='D')
    
    # Step 3: Merge the dataframes to find rows where player logged in a day after their first login
    merged_df = activity.merge(first_login, on='player_id', suffixes=('_actual', '_first'))
    
    # Step 4: Find the rows where the actual event date matches the day after the first login date
    consecutive_login = merged_df[merged_df['day_before_event'] == merged_df['event_date_first']]
    
    # Step 5: Calculate the fraction of players that logged in again on the day after their first login
    fraction = round(consecutive_login['player_id'].nunique() / activity['player_id'].nunique(), 2)
    
    # Step 6: Create a dataframe to hold the output
    output_df = pd.DataFrame({'fraction': [fraction]})
    
    return output_df

In [709]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-03-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [676]:
activity = pd.DataFrame(columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [692]:
gameplay_analysis(activity)

   fraction
0      0.33

## 570. Managers with at Least 5 Direct Reports [M]

Table: Employee
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the name of an employee, their department, and the id of their manager.
If managerId is null, then the employee does not have a manager.
No employee will be the manager of themself.
```

Write a solution to find managers with at least five direct reports.

Return the result table in any order.

The result format is in the following example.

In [766]:
# Beats 47.39%

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    manager = employee.copy()
    manager.drop(columns=['department','managerId'], inplace=True)
    manager.columns=['managerId','managerName']

    df_merge = pd.merge(employee, manager, how='left', on='managerId')
    df_merge = df_merge[ ~df_merge['managerId'].isna() ]

    manager_counts = df_merge.groupby('managerId')['id'].count().reset_index()
    manager_counts = manager_counts[ manager_counts['id'] >= 5 ][['managerId']]

    df_final = pd.merge(manager, manager_counts, how='inner', on='managerId')[['managerName']]
    df_final.columns = ['name']

    return df_final

### With .agg().query()

In [ ]:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    managers = employee.groupby(
        'managerId', as_index=False
    ).agg(
        reporting=('id', 'count'),
    ).query(
        '5 <= reporting'
    )['managerId']

    return employee[
        employee['id'].isin(managers)
    ][['name']]

`.agg()` using dictionary format

In [ ]:
employee.groupby('Category').agg({'Sales': 'sum','Profit': 'mean'})

In [791]:
employee.groupby('managerId', as_index=False).agg({'id':'count'}).query('id >= 5')[['managerId']]

   managerId
0        101

In [771]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [768]:
data = [[101, None, 'A', None], [102, None, 'A', 101], [103, None, 'A', 101], [104, None, 'A', 101], [105, None, 'A', 101], [106, None, 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [769]:
find_managers(employee)

   name
0  None

## 577. Employee Bonus [E]

Table: Employee
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| empId       | int     |
| name        | varchar |
| supervisor  | int     |
| salary      | int     |
+-------------+---------+
empId is the column with unique values for this table.
Each row of this table indicates the name and the ID of an employee in addition to their salary and the id of their manager.
```

Table: Bonus
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| empId       | int  |
| bonus       | int  |
+-------------+------+
empId is the column of unique values for this table.
empId is a foreign key (reference column) to empId from the Employee table.
Each row of this table contains the id of an employee and their respective bonus.
```

Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.

Return the result table in any order.

The result format is in the following example.

In [856]:
# Beats 93.29%

def employee_bonus(employee: pd.DataFrame, bonus: pd.DataFrame) -> pd.DataFrame:
    df_merge = pd.merge(employee, bonus, how='left', on='empId')
    return df_merge[ (df_merge['bonus'] < 1000) | (df_merge['bonus'].isna()) ][['name','bonus']]

In [857]:
data = [[3, 'Brad', None, 4000], [1, 'John', 3, 1000], [2, 'Dan', 3, 2000], [4, 'Thomas', 3, 4000]]
employee = pd.DataFrame(data, columns=['empId', 'name', 'supervisor', 'salary']).astype({'empId':'Int64', 'name':'object', 'supervisor':'Int64', 'salary':'Int64'})
data = [[2, 500], [4, 2000]]
bonus = pd.DataFrame(data, columns=['empId', 'bonus']).astype({'empId':'Int64', 'bonus':'Int64'})

In [844]:
employee = pd.DataFrame(columns=['empId', 'name', 'supervisor', 'salary']).astype({'empId':'Int64', 'name':'object', 'supervisor':'Int64', 'salary':'Int64'})
bonus = pd.DataFrame(columns=['empId', 'bonus']).astype({'empId':'Int64', 'bonus':'Int64'})

In [858]:
employee_bonus(employee, bonus)

   name  bonus
0  Brad   <NA>
1  John   <NA>
2   Dan    500

## 584. Find Customer Referee [E]

Table: Customer
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| referee_id  | int     |
+-------------+---------+
In SQL, id is the primary key column for this table.
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.
```

Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.

The result format is in the following example.

In [865]:
# Beats 40.19%

def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:
    return customer[ (customer['referee_id']!=2) | (customer['referee_id'].isna()) ][['name']]

In [871]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype({'id':'Int64', 'name':'object', 'referee_id':'Int64'})

In [867]:
customer = pd.DataFrame(columns=['id', 'name', 'referee_id']).astype({'id':'Int64', 'name':'object', 'referee_id':'Int64'})

In [868]:
find_customer_referee(customer)

Empty DataFrame
Columns: [name]
Index: []