# NumPy Examples

In [1]:
import numpy as np

## DataCamp Top 20

https://www.datacamp.com/blog/numpy-interview-questions

### (1) What is NumPy?

* Provides support for large, multi-dimentional arrays

* Provides mathematical functions

* Allows for vectorized operations (loops not needed)

* Provides foundation for more advanced packages: pandas, scikit learn, pytorch

* Data storage types are more efficient than Python native objects

### (2) Create a 1D array

In [4]:
arr = np.array([1, 2, 3])
arr

array([1, 2, 3])

### (3) Differences between NumPy array and Python list

NumPy lists:

* must be all of same type

* are more memory efficient

* support vectorized operations (loops not needed)

* operate natively with many mathematical operations

### (4) Size and shape of arrays

In [12]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr.shape) # dimensions
print(arr.size) # total number of elements

(2, 3)
6

### (5) Reshape arrays

In [17]:
arr = np.array([1, 2, 3, 4, 5, 6])
print(arr)
print(arr.reshape((3,2))) # method
print(np.reshape(arr, (2,3))) # function

[1 2 3 4 5 6]
[[1 2]
 [3 4]
 [5 6]]
[[1 2 3]
 [4 5 6]]

### (6) Arrays of zeroes or ones

In [20]:
print(np.zeros((1,6)))
np.ones((3,2))

[[0. 0. 0. 0. 0. 0.]]

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

### (7) Broadcasting

Ensures that dimensions match before operations

In [23]:
a = np.array([1, 2, 3]) # horizontal
b = np.array([[1], [1], [1]]) # vertical
print(a + b)

[[2 3 4]
 [2 3 4]
 [2 3 4]]

### (8) Basic statistics

In [44]:
uni_arr = np.random.uniform(0, 10, 100)
print(np.mean(uni_arr))
print(np.median(uni_arr))
print(np.std(uni_arr))

4.924511945827471
5.03524060064375
2.763200589928771

### (9) Vectorized if-else with `np.where`

In [46]:
nor_arr = np.random.normal(0, 10, 100)
np.where(nor_arr > 0, True, False)

array([False,  True, False, False,  True,  True,  True,  True,  True,
       False,  True, False,  True, False,  True,  True,  True,  True,
        True,  True, False,  True,  True, False,  True, False,  True,
        True,  True, False,  True,  True,  True, False, False,  True,
        True, False, False, False,  True, False,  True,  True,  True,
       False, False,  True, False, False, False,  True,  True, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
        True, False, False, False, False,  True, False, False,  True,
       False,  True,  True,  True,  True,  True, False, False, False,
        True,  True, False, False,  True,  True,  True, False,  True,
       False,  True,  True, False, False,  True,  True,  True, False,
        True])

### (10) Vectorized mathematical operations (MSE)

In [48]:
arr1 = np.random.uniform(0, 10, 100)
arr2 = np.random.uniform(0, 10, 100)
n = len(arr1)

print( 1/n * np.sum( np.square(arr2 - arr1)) )
print( np.mean( np.square(arr2-arr1) ) )

17.195712832042254
17.19571283204225

### (11) Sliding window

In [54]:
from numpy.lib.stride_tricks import sliding_window_view

arr = np.arange(6)
print(arr)
print(sliding_window_view(arr, 3))
print(np.mean(sliding_window_view(arr, 3), axis=1)) # mean over horizontal rows

[0 1 2 3 4 5]
[[0 1 2]
 [1 2 3]
 [2 3 4]
 [3 4 5]]
[1. 2. 3. 4.]

### (12) Indexing

In [71]:
arr = np.array([[10, 15, 20, 25],
                  [30, 35, 40, 45],
                  [50, 55, 60, 65]])

condition = arr > 30
print(arr[ condition ])

rows = np.array([0, 1, 2])
cols = np.array([1, 2, 3])
print(arr[ rows, cols ])

[35 40 45 50 55 60 65]
[15 40 65]

### (13) Matrix decomposition

In [105]:
M = np.random.randn(9,9) # 9x9

U, s, Vt = np.linalg.svd(M, full_matrices=False) # M = U * S * V.T

V = Vt.T

print(U.shape, s.shape, V.shape) # 9x9, 9x1, 9x9

S = np.diag(s)

Mhat = np.dot(U, np.dot(S, V.T))

np.allclose(M,Mhat)

(9, 9) (9,) (9, 9)

True

### (14) Memory optimization

In [106]:
# large_array = np.memmap(filename mode='w+' shape=large_array_shape)

### (15) Missing values

In [128]:
arr = np.array([0, 1, 2, 3, 4])
arr = arr/arr
print(np.isnan(arr))
print(np.isinf(arr))

[ True False False False False]
[False False False False False]

/var/folders/04/x6phf57n2c7d0_05mhjff6cm0000gn/T/ipykernel_14864/3855253178.py:2: RuntimeWarning: invalid value encountered in divide
  arr = arr/arr

### (16) Applying functions along rows/cols

In [134]:
arr = np.array([[10, 15, 20, 25],
                  [30, 35, 40, 45],
                  [50, 55, 60, 65]])
print(arr)

np.apply_along_axis(np.mean, axis=0, arr=arr)

[[10 15 20 25]
 [30 35 40 45]
 [50 55 60 65]]

array([30., 35., 40., 45.])

### (17) Feature scaling

In [139]:
data = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

minvals = np.min(data, axis=0)
maxvals = np.max(data, axis=0)
print(minvals)
print(maxvals)
scaled_data = (data - minvals)/(maxvals - minvals)
scaled_data

[1 2 3]
[7 8 9]

array([[0. , 0. , 0. ],
       [0.5, 0.5, 0.5],
       [1. , 1. , 1. ]])

### (18) Sort and index

In [ ]:
# np.argsort() # provide indices to sort an array, e.g. to align two data sets

### (19) Random seed

In [145]:
np.random.seed(42)

np.random.normal(0, 1)

0.4967141530112327

### (20) K-means

In [146]:
# Generate a sample dataset
np.random.seed(42)  # For reproducibility
data = np.vstack([
    np.random.normal(loc=[1, 1], scale=0.5, size=(50, 2)),
    np.random.normal(loc=[5, 5], scale=0.5, size=(50, 2)),
    np.random.normal(loc=[9, 1], scale=0.5, size=(50, 2))
])
def k_means(X, k, max_iters=100, tol=1e-4):
    # Step 1: Initialize centroids randomly
    num_samples, num_features = X.shape
    centroids = X[np.random.choice(num_samples, k, replace=False)]
    
    for i in range(max_iters):
        # Step 2: Assign clusters
        distances = np.linalg.norm(X[:, np.newaxis] - centroids, axis=2)
        cluster_assignments = np.argmin(distances, axis=1)
        
        # Step 3: Update centroids
        new_centroids = np.array([X[cluster_assignments == j].mean(axis=0) for j in range(k)])
        
        # Check for convergence
        if np.all(np.linalg.norm(new_centroids - centroids, axis=1) < tol):
            break
        
        centroids = new_centroids
    
    return centroids, cluster_assignments

# Apply k-means clustering
k = 3
centroids, cluster_assignments = k_means(data, k)

In [147]:
centroids, cluster_assignments

(array([[1.13031116, 0.61786063],
        [0.76336861, 1.25884335],
        [7.00837347, 3.03522695]]),
 array([0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        1, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]))

## InterviewBit

https://www.interviewbit.com/numpy-interview-questions/#program-for-interchanging-two-axes-of-numpy-arrays

## Geeks for Geeks

https://www.geeksforgeeks.org/numpy-interview-questions/

## UPES

https://upesonline.ac.in/blog/frequently-asked-numpy-interview-questions

## OkCupid Data Test

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../../../Downloads/OKCupid. Kirkegaard and Bjerrekær. 2016/temp/user_data_public.csv')

/var/folders/04/x6phf57n2c7d0_05mhjff6cm0000gn/T/ipykernel_38179/3248597000.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,142,143,144,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1455,1456,1457,1458,1460,1462,1510,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../../Downloads/OKCupid. Kirkegaard and Bjerrekær. 2016/temp/user_data_public.csv')

In [5]:
dfsmall = df.iloc[0:5,:]

In [6]:
del df

In [10]:
dfsmall.shape

(5, 2625)

In [12]:
dfsmall.iloc[:, 2605:2616]

  q85932 q85947 q86019 q86210 q86215 q86283 q86325 q86364 q86397 q86462 q86615
0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

In [15]:
column_names = sorted(dfsmall.columns)
column_names

['CA',
 'CA_items',
 'd_age',
 'd_astrology_seriosity',
 'd_astrology_sign',
 'd_bodytype',
 'd_country',
 'd_drinks',
 'd_drugs',
 'd_education_phase',
 'd_education_type',
 'd_ethnicity',
 'd_gender',
 'd_income',
 'd_job',
 'd_languages',
 'd_offspring_current',
 'd_offspring_desires',
 'd_orientation',
 'd_relationship',
 'd_religion_seriosity',
 'd_religion_type',
 'd_smokes',
 'gender',
 'gender2',
 'gender2_num',
 'gender_orientation',
 'lf_for',
 'lf_location',
 'lf_max_age',
 'lf_min_age',
 'lf_single',
 'lf_want',
 'p_adven',
 'p_aggre',
 'p_ambi',
 'p_arro',
 'p_artsy',
 'p_capi',
 'p_comp',
 'p_conf',
 'p_convenmoral',
 'p_cool',
 'p_dominant',
 'p_drug',
 'p_energetic',
 'p_exer',
 'p_explife',
 'p_explove',
 'p_expsex',
 'p_extro',
 'p_friendstrangers',
 'p_geeky',
 'p_giving',
 'p_greed',
 'p_honest',
 'p_inde',
 'p_indie',
 'p_introvert',
 'p_kind',
 'p_kinky',
 'p_laidback',
 'p_lit',
 'p_logic',
 'p_lovedri',
 'p_manners',
 'p_math',
 'p_oldfash',
 'p_opti',
 'p_organ',
 'p_passion',
 'p_polit',
 'p_progress',
 'p_pure',
 'p_roman',
 'p_scien',
 'p_sexdrive',
 'p_sloppy',
 'p_spon',
 'p_sprit',
 'p_submissive',
 'p_thrift',
 'p_trusting',
 'q1011',
 'q102',
 'q1028',
 'q103624',
 'q1040',
 'q1049',
 'q105',
 'q1052',
 'q1055',
 'q106',
 'q1062',
 'q106386',
 'q1081',
 'q109',
 'q1099',
 'q11',
 'q110',
 'q1100',
 'q1101',
 'q1102',
 'q1103',
 'q1104',
 'q111',
 'q1112',
 'q1117',
 'q1119',
 'q112',
 'q1121',
 'q1122',
 'q1124',
 'q1128',
 'q1129',
 'q113',
 'q1132',
 'q1133',
 'q1134',
 'q113563',
 'q1138',
 'q114',
 'q1146',
 'q115',
 'q1153',
 'q11551',
 'q1158',
 'q116',
 'q116932',
 'q1172',
 'q1173',
 'q1179',
 'q118236',
 'q1185',
 'q1187',
 'q12',
 'q1201',
 'q1202',
 'q1212',
 'q122',
 'q12208',
 'q12210',
 'q1222',
 'q12221',
 'q12229',
 'q123',
 'q124',
 'q12428',
 'q1249',
 'q12498',
 'q125',
 'q1250',
 'q12503',
 'q125283',
 'q12540',
 'q12551',
 'q12556',
 'q12560',
 'q12584',
 'q12598',
 'q126',
 'q12605',
 'q12625',
 'q1263',
 'q12637',
 'q127',
 'q12719',
 'q1272',
 'q1274',
 'q12750',
 'q1277',
 'q12772',
 'q12774',
 'q12796',
 'q128',
 'q128112',
 'q12822',
 'q12832',
 'q12839',
 'q1287',
 'q129',
 'q1290',
 'q1293',
 'q12945',
 'q12949',
 'q12950',
 'q12954',
 'q12955',
 'q12964',
 'q12970',
 'q13',
 'q130',
 'q13006',
 'q13014',
 'q13024',
 'q13032',
 'q13033',
 'q1305',
 'q13054',
 'q13077',
 'q13086',
 'q1309',
 'q13095',
 'q13100',
 'q13103',
 'q13106',
 'q13109',
 'q1311',
 'q13110',
 'q13112',
 'q13130',
 'q13136',
 'q13142',
 'q132',
 'q133',
 'q13307',
 'q134',
 'q134624',
 'q135',
 'q136',
 'q1361',
 'q13669',
 'q137',
 'q1375',
 'q13759',
 'q1379',
 'q1387',
 'q14',
 'q140',
 'q140080',
 'q1401',
 'q1406',
 'q1408',
 'q141',
 'q142',
 'q142190',
 'q1435',
 'q1436',
 'q1439',
 'q144',
 'q1440',
 'q1446',
 'q1447',
 'q1454',
 'q1455',
 'q145537',
 'q146',
 'q14620',
 'q14649',
 'q14663',
 'q14667',
 'q1471',
 'q14712',
 'q148',
 'q1481',
 'q14833',
 'q14835',
 'q14853',
 'q14884',
 'q149',
 'q14913',
 'q14928',
 'q1495',
 'q1497',
 'q15001',
 'q15015',
 'q15030',
 'q15037',
 'q15063',
 'q15158',
 'q15172',
 'q15180',
 'q15182',
 'q152',
 'q15261',
 'q15280',
 'q15294',
 'q153',
 'q15312',
 'q15355',
 'q15358',
 'q1536',
 'q15365',
 'q15366',
 'q15372',
 'q15379',
 'q154',
 'q15401',
 'q15409',
 'q15414',
 'q15418',
 'q15427',
 'q15478',
 'q155',
 'q15513',
 'q1552',
 'q155299',
 'q15550',
 'q15565',
 'q156',
 'q15618',
 'q15622',
 'q15634',
 'q15637',
 'q15641',
 'q156768',
 'q156913',
 'q156914',
 'q156915',
 'q156916',
 'q156917',
 'q156918',
 'q15695',
 'q15698',
 'q157',
 'q15701',
 'q15702',
 'q15704',
 'q1572',
 'q15742',
 'q15743',
 'q15744',
 'q15745',
 'q15746',
 'q15747',
 'q15748',
 'q15749',
 'q15751',
 'q15752',
 'q15754',
 'q15756',
 'q15757',
 'q15764',
 'q15767',
 'q15778',
 'q15784',
 'q15789',
 'q158',
 'q15835',
 'q15839',
 'q15862',
 'q15872',
 'q15876',
 'q15878',
 'q1588',
 'q15889',
 'q159',
 'q15907',
 'q15946',
 'q1597',
 'q16',
 'q160',
 'q16053',
 'q16088',
 'q161',
 'q16153',
 'q1618',
 'q16269',
 'q16271',
 'q16288',
 'q16294',
 'q16295',
 'q163',
 'q16301',
 'q16317',
 'q16345',
 'q16362',
 'q16371',
 'q164',
 'q1640',
 'q16412',
 'q16434',
 'q16452',
 'q16479',
 'q16487',
 'q16495',
 'q16497',
 'q165',
 'q16535',
 'q16545',
 'q16557',
 'q165644',
 'q165651',
 'q16571',
 'q16584',
 'q166',
 'q1667',
 'q1669',
 'q167',
 'q16713',
 'q16714',
 'q16752',
 'q16765',
 'q16770',
 'q16785',
 'q168',
 'q16800',
 'q16807',
 'q16820',
 'q16862',
 'q1688',
 'q169',
 'q16915',
 'q16931',
 'q17',
 'q170',
 'q17002',
 'q17017',
 'q17021',
 'q17052',
 'q17056',
 'q1707',
 'q17083',
 'q170849',
 'q171',
 'q17106',
 'q1712',
 'q17140',
 'q17168',
 'q172',
 'q17228',
 'q173',
 'q1730',
 'q17342',
 'q17354',
 'q17382',
 'q17390',
 'q174',
 'q17439',
 'q17457',
 'q175',
 'q17570',
 'q17582',
 'q17620',
 'q1766',
 'q177',
 'q17705',
 'q1773',
 'q17732',
 'q17768',
 'q17778',
 'q178',
 'q17808',
 'q1782',
 'q1783',
 'q17844',
 'q179',
 'q17922',
 'q179268',
 'q17991',
 'q18',
 'q180',
 'q18048',
 'q18095',
 'q18097',
 'q1810',
 'q18100',
 'q18108',
 'q18125',
 'q1815',
 'q18153',
 'q18154',
 'q18169',
 'q18185',
 'q182',
 'q18212',
 'q18247',
 'q18282',
 'q18299',
 'q183',
 'q1830',
 'q1832',
 'q18330',
 'q18386',
 'q18398',
 'q18433',
 'q185',
 'q1850',
 'q18504',
 'q18512',
 'q18513',
 'q18525',
 'q18530',
 'q18538',
 'q18544',
 'q18547',
 'q18555',
 'q18564',
 'q18569',
 'q18576',
 'q18594',
 'q186',
 'q18609',
 'q18619',
 'q18622',
 'q18630',
 'q18633',
 'q18636',
 'q18638',
 'q18639',
 'q18644',
 'q18648',
 'q18650',
 'q18661',
 'q18662',
 'q18663',
 'q18664',
 'q18670',
 'q18682',
 'q18688',
 'q18691',
 'q18692',
 'q18695',
 'q18698',
 'q18699',
 'q187',
 'q18708',
 'q18711',
 'q18714',
 'q18721',
 'q18729',
 'q18738',
 'q18758',
 'q18759',
 'q18763',
 'q18775',
 'q18776',
 'q18778',
 'q18779',
 'q18781',
 'q18782',
 'q18783',
 'q18789',
 'q18797',
 'q18809',
 'q18814',
 'q18820',
 'q18821',
 'q18822',
 'q18825',
 'q18832',
 'q18834',
 'q18837',
 'q18840',
 'q18841',
 'q18843',
 'q18857',
 'q18858',
 'q18861',
 'q18867',
 'q18870',
 'q18875',
 'q18878',
 'q18882',
 'q18883',
 'q18889',
 'q18894',
 'q18895',
 'q18900',
 'q18902',
 'q18905',
 'q18906',
 'q18918',
 'q18928',
 'q18935',
 'q18946',
 'q18953',
 'q18955',
 'q18964',
 'q18966',
 'q18968',
 'q18977',
 'q18979',
 'q18982',
 'q18984',
 'q190',
 'q19003',
 'q19011',
 'q19026',
 'q19058',
 'q19069',
 'q19075',
 'q19079',
 'q19081',
 'q19088',
 'q19094',
 'q191',
 'q19100',
 'q19106',
 'q19108',
 'q19110',
 'q19125',
 'q19140',
 'q19145',
 'q19148',
 'q19192',
 'q19198',
 'q192',
 'q19215',
 'q19219',
 'q19221',
 'q19236',
 'q19263',
 'q19265',
 'q19290',
 'q19292',
 'q193',
 'q19365',
 'q19378',
 'q19392',
 'q19418',
 'q19445',
 'q19446',
 'q19449',
 'q19458',
 'q19470',
 'q19475',
 'q19481',
 'q19482',
 'q19483',
 'q19484',
 'q19508',
 'q19566',
 'q19567',
 'q19573',
 'q19574',
 'q196',
 'q19625',
 'q19649',
 'q19652',
 'q19664',
 'q19681',
 'q19690',
 'q19691',
 'q19692',
 'q19695',
 'q19737',
 'q19748',
 'q1976',
 'q19772',
 'q19776',
 'q19784',
 'q19799',
 'q198',
 'q19800',
 'q19813',
 'q19815',
 'q19820',
 'q19828',
 'q19832',
 'q19854',
 'q19869',
 'q19874',
 'q19885',
 'q19886',
 'q19891',
 'q19892',
 'q19893',
 'q19897',
 'q19898',
 'q199',
 'q19915',
 'q19919',
 'q19928',
 'q19931',
 'q19941',
 'q19996',
 'q2',
 'q20',
 'q20016',
 'q20021',
 'q20036',
 'q20047',
 'q20062',
 'q20068',
 'q20096',
 'q201',
 'q20121',
 'q20135',
 'q20145',
 'q20161',
 'q2017',
 'q20196',
 'q20199',
 'q202',
 'q20212',
 'q20240',
 'q20277',
 'q20290',
 'q20298',
 'q20310',
 'q204',
 'q20408',
 'q20418',
 'q20424',
 'q20452',
 'q20471',
 'q205',
 'q20519',
 'q20527',
 'q20530',
 'q20534',
 'q20568',
 'q20586',
 'q206',
 'q20633',
 'q20661',
 'q20662',
 'q20672',
 'q20725',
 'q20745',
 'q20755',
 'q20773',
 'q20777',
 'q20778',
 'q20781',
 'q20818',
 'q20838',
 'q20848',
 'q20851',
 'q20889',
 'q20896',
 'q209',
 'q20928',
 'q20930',
 'q20950',
 'q20967',
 'q20975',
 'q20976',
 'q20981',
 'q21',
 'q210',
 'q21086',
 'q21093',
 'q211',
 'q21122',
 'q21135',
 'q21175',
 'q21181',
 'q212',
 'q21200',
 'q21245',
 'q21249',
 'q212813',
 'q212814',
 'q213',
 'q214',
 'q21411',
 'q21487',
 'q21488',
 'q215',
 'q21523',
 'q21527',
 'q21589',
 'q216',
 'q21709',
 'q21729',
 'q21754',
 'q21755',
 'q21792',
 'q21793',
 'q218',
 'q21814',
 'q218620',
 'q21896',
 'q219',
 'q21986',
 'q22',
 'q220',
 'q22021',
 'q221105',
 'q221106',
 'q22122',
 'q22125',
 'q22141',
 'q22198',
 'q222',
 'q22206',
 'q223',
 'q224',
 'q22400',
 'q22401',
 'q22412',
 'q22419',
 'q22439',
 'q22496',
 'q225',
 'q22534',
 'q22560',
 'q22566',
 'q22569',
 'q226',
 'q22642',
 'q22683',
 'q227',
 'q22706',
 'q227646',
 'q229',
 'q22944',
 'q22965',
 'q22991',
 'q231',
 'q23120',
 'q23132',
 'q23147',
 'q23193',
 'q23230',
 'q23233',
 'q232388',
 'q23240',
 'q23246',
 'q23293',
 'q23301',
 'q23305',
 'q23311',
 'q23338',
 'q23389',
 'q23390',
 'q234',
 'q23401',
 'q23407',
 'q23439',
 'q23472',
 'q23477',
 'q23504',
 'q23507',
 'q23527',
 'q23532',
 'q23543',
 'q23544',
 'q23618',
 'q23696',
 'q23733',
 'q23779',
 'q23811',
 'q23834',
 'q23869',
 'q23873',
 'q23876',
 'q23951',
 'q23954',
 'q23992',
 'q23993',
 'q24',
 'q24013',
 'q24088',
 'q241',
 'q24125',
 'q24134',
 'q24137',
 'q24143',
 'q24153',
 'q242',
 'q24251',
 'q24282',
 'q24333',
 'q24345',
 'q24375',
 'q24389',
 'q244',
 'q24469',
 'q24496',
 'q2457',
 'q246',
 'q24630',
 'q24648',
 'q24682',
 'q24684',
 'q24688',
 'q24740',
 'q24748',
 'q249',
 'q24991',
 'q25',
 'q250',
 'q25017',
 'q25040',
 'q25063',
 'q25107',
 'q25114',
 'q252',
 'q25228',
 'q25294',
 'q254',
 'q25421',
 'q255',
 'q25561',
 'q256',
 'q25734',
 'q25768',
 'q258',
 'q25809',
 'q25908',
 'q26',
 'q26052',
 'q26144',
 'q262',
 'q26204',
 'q26245',
 'q26299',
 'q26300',
 'q26317',
 'q26354',
 'q26367',
 'q26387',
 'q26405',
 'q26469',
 'q265',
 'q26525',
 'q26529',
 'q26545',
 'q26557',
 'q26569',
 'q26573',
 'q26582',
 'q266',
 'q26600',
 'q26634',
 'q26678',
 'q26684',
 'q267',
 'q26720',
 'q26723',
 'q26741',
 'q26742',
 'q268',
 'q26800',
 'q26841',
 'q27',
 'q271',
 'q27141',
 'q27164',
 'q2717',
 'q27173',
 'q27177',
 'q27239',
 'q27240',
 'q27243',
 'q273',
 'q27341',
 'q274',
 'q27477',
 'q275',
 'q27527',
 'q27598',
 'q27672',
 'q277',
 'q27747',
 'q27794',
 'q278',
 'q2781',
 'q279',
 'q27915',
 'q2792',
 'q27921',
 'q28',
 'q280',
 'q28206',
 'q283',
 'q28379',
 'q28386',
 'q28390',
 'q284',
 'q28426',
 'q28478',
 'q28537',
 'q28545',
 'q28549',
 'q286',
 'q28662',
 'q28671',
 'q28682',
 'q28685',
 'q28741',
 'q28742',
 'q28745',
 'q28754',
 'q28757',
 'q28758',
 'q28777',
 'q288',
 'q28820',
 'q28831',
 'q28869',
 'q28902',
 'q28903',
 'q28918',
 'q29',
 'q29032',
 'q29036',
 'q29045',
 'q29055',
 'q291',
 'q29127',
 'q29136',
 'q29211',
 'q29214',
 'q293',
 'q29316',
 'q29384',
 ...]

In [18]:
rel_columns = ['CA','CA_items','d_age','d_bodytype','d_ethnicity','gender','d_income','d_job','d_relationship']
dfsmall[rel_columns]

,CA,CA_items,d_age,d_bodytype,d_ethnicity,gender,d_income,d_job,d_relationship
0,0.763080,4.0,25.0,NaN,White,Woman,NaN,Education,Single
1,NaN,0.0,20.0,NaN,NaN,Man,NaN,NaN,Single
2,0.661309,7.0,22.0,NaN,NaN,Woman,NaN,NaN,Single
3,NaN,0.0,29.0,Thin,White,Woman,NaN,Medicine,Single
4,0.875424,3.0,30.0,Average,NaN,Woman,NaN,NaN,Single

### Research Questions

* Predicting innate personal characteristics from opinion data